<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILMerge" version="3.0.41" targetFramework="net471" />
  <package id="RFDown" version="0.1.0" targetFramework="net471" />
  <package id="RFDown.Windows" version="0.1.0" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net471" />
  <package id="System.Management" version="5.0.0" targetFramework="net471" />
  <package id="System.Memory" version="4.5.4" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net471" />
</packages>